      <div class = " row" style= "padding-bottom:8px;margin-bottom: 16px;" >
        <div class ="col-9 row">
        <h4 style= "color: rgb(120,120,120);padding-bottom: 8px; margin-bottom: 4px;"> {{job['title']}}  </h4>

      
        <div style= "margin-bottom: 16px;" class = "border-bottom row ">
       
        <div><b>Location:</b></b>{{job['location']}}</div>
          {% if 'salary' in job %}
           <div>
             <h4 style= "color: rgb(120,120,120); margin-bottom: 4px;"> Salar: {{job['salary']}}  </h4>
           </div>
          {% endif %}


         

        </div>

           <div class="col-3"> 
          <a g type="button" class="btn btn-outline-primary">Apply</a>   </div>

         
      </div>